# Strings

In [3]:
name="prasanna"

In [4]:
name

'prasanna'

In [5]:
name.index('a')

2

In [6]:
add="kadapa"

In [7]:
add

'kadapa'

In [8]:
name + "   "+ add #cancotination

'prasanna   kadapa'

In [9]:
name1="reddy prasanna"

In [10]:
name1.split()#split the name in the form of number of words in that name

['reddy', 'prasanna']

In [11]:
name1[7]#it can print 7 position in the letter

'r'

# List

In [12]:
#what is list?
#list is datatype which can store multiple datatypes in that form of integer float string and sub list also

In [15]:
lst=[1,2,3,4,'rani','jayaram',5.6,1.2,1.3]

In [16]:
type(lst)

list

In [17]:
lst

[1, 2, 3, 4, 'rani', 'jayaram', 5.6, 1.2, 1.3]

In [18]:
lst[5]

'jayaram'

In [19]:
lst[0]#first elements will be print

1

In [20]:
lst[-1]#last elements will be print

1.3

In [22]:
lst=[1,2,3,4,'rani','jayaram',['rani','jayaram'],5.6,1.2,1.3]

In [23]:
lst

[1, 2, 3, 4, 'rani', 'jayaram', ['rani', 'jayaram'], 5.6, 1.2, 1.3]

In [24]:
lst[6]

['rani', 'jayaram']

In [25]:
lst[6][1]

'jayaram'

In [26]:
lst.append("siri")#end of the list can be added the element

In [27]:
lst

[1, 2, 3, 4, 'rani', 'jayaram', ['rani', 'jayaram'], 5.6, 1.2, 1.3, 'siri']

In [28]:
lst.insert(0,'sunil')

In [29]:
lst

['sunil',
 1,
 2,
 3,
 4,
 'rani',
 'jayaram',
 ['rani', 'jayaram'],
 5.6,
 1.2,
 1.3,
 'siri']

# tuple

In [30]:
#what is tuple?
#elements in tuple can't be deleted once you enter the elements in the tuple we can't deleted

In [1]:
#tuples are immutable and they are not editable once it can be entered into the tuple

In [2]:
tup=("he","she","her")

In [3]:
tup

('he', 'she', 'her')

In [5]:
tup.count("her")

1

In [6]:
tup.index("her")

2

In [7]:
#where to we use tuple?

# Dictionary

In [8]:
#we use dictionary for key value pair

In [9]:
dit={'key':'value','key1':1,'key2':5.6}

In [10]:
dit

{'key': 'value', 'key1': 1, 'key2': 5.6}

In [11]:
dit['key']

'value'

In [12]:
dit['key1']

1

In [13]:
dit['key2']

5.6

In [14]:
ditperson={'name':'sai','age':50,'email':'reddyprasanna'}

In [15]:
ditperson

{'name': 'sai', 'age': 50, 'email': 'reddyprasanna'}

In [16]:
ditperson.get('name')

'sai'

In [17]:
ditperson['name']

'sai'

In [18]:
dit1={"subject":{"key1":1,"key2":2}}

In [19]:
dit1

{'subject': {'key1': 1, 'key2': 2}}

In [20]:
dit1.get('subject').get('key1')

1

# Conditional Statements

In [21]:
num=3

In [22]:
if(num==4):
    print('hi')
else:
    print('hello')

hello