# 5 different string functions
   1.center
   2.count
   3.replace
   4.lower
   5.upper
   6.find

In [1]:
string="Hello World!"

In [2]:
string.center(5)

'Hello World!'

In [3]:
x=string.center(20)

In [4]:
print(x)

    Hello World!

In [5]:
txt="some apples are red and some apples are green in colors"

In [6]:
txt.count('some')

2

In [7]:
txt.find('in')

46

In [8]:
txt.upper()

'SOME APPLES ARE RED AND SOME APPLES ARE GREEN IN COLORS'

In [9]:
txt.lower()

'some apples are red and some apples are green in colors'

In [10]:
txt.replace('apples','mangoes')

'some mangoes are red and some mangoes are green in colors'

# 5 different functions in list
count,copy,extend,pop,reverse,sort

In [11]:
lst=['cat','dog','lion','tiger','rabbit']

In [12]:
lst.count('lion')

1

In [13]:
x=lst.copy()
print(x)

['cat', 'dog', 'lion', 'tiger', 'rabbit']

In [14]:
lst1=['parrot','peacock','pigeon']

In [15]:
lst.extend(lst1)

In [16]:
lst

['cat', 'dog', 'lion', 'tiger', 'rabbit', 'parrot', 'peacock', 'pigeon']

In [17]:
lst.pop(4)

'rabbit'

In [18]:
lst

['cat', 'dog', 'lion', 'tiger', 'parrot', 'peacock', 'pigeon']

In [19]:
lst.reverse()

In [20]:
lst

['pigeon', 'peacock', 'parrot', 'tiger', 'lion', 'dog', 'cat']

In [21]:
lst.sort()

In [22]:
lst

['cat', 'dog', 'lion', 'parrot', 'peacock', 'pigeon', 'tiger']

# 5 different dictionary functions
update,values,keys,items,copy,pop

In [23]:
dit={'name':'prasanna','age':20,'place':'kadapa'}

In [24]:
dit.update({'gender':'female'})

In [25]:
dit

{'name': 'prasanna', 'age': 20, 'place': 'kadapa', 'gender': 'female'}

In [26]:
dit.values()

dict_values(['prasanna', 20, 'kadapa', 'female'])

In [27]:
dit.keys()

dict_keys(['name', 'age', 'place', 'gender'])

In [29]:
dit.items()

dict_items([('name', 'prasanna'), ('age', 20), ('place', 'kadapa'), ('gender', 'female')])

In [30]:
x=dit.copy()
print(x)

{'name': 'prasanna', 'age': 20, 'place': 'kadapa', 'gender': 'female'}

In [31]:
dit.pop('gender')

'female'

In [32]:
dit

{'name': 'prasanna', 'age': 20, 'place': 'kadapa'}